.button-container {
    height: 60px;
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: violet;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.button-container:hover {
    background-color: #d636d6;
}

.operator {
    background-color: #75ab99;
}

.operator:hover {
    background-color: #3fa683;
}