.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
}
.tile{
  text-align: center;
  margin-top: -15%;
  font-size: 1.5rem;
  color:whitesmoke;
  font-weight: 300;
}
.logo{
  width: 10rem;
}

.calculator-container {
  width: 25%;
  height: 73%;
  margin-top: 1.5rem;
  background-color: orangered;
  border-radius: 2rem;
  box-shadow: -1px 4px 1px 1px rgb(196, 229, 243);
}

.row {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}