
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #b2b9b6;
}

.logo {
  width: 10rem;
    height: 7rem;
}

.calculator-container {
  width: 30%;
  height: 75%;
  margin-top: 1rem;
  background-color: #f8f842;
  border-radius: 3rem;
  border: 0.5rem solid white;
}

.row {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}